<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADO.Net.Client.Annotations" version="1.2.0" targetFramework="net481" />
  <package id="ADO.Net.Client.Core" version="1.4.4" targetFramework="net481" />
  <package id="DeltaCompressionDotNet" version="2.0.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net481" />
  <package id="LocalizationProvider" version="7.4.0" targetFramework="net481" />
  <package id="LocalizationProvider.Abstractions" version="7.4.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.Build.Framework" version="17.3.2" targetFramework="net481" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore" version="6.0.10" targetFramework="net481" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="6.0.10" targetFramework="net481" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="6.0.10" targetFramework="net481" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="6.0.10" targetFramework="net481" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Caching.Memory" version="6.0.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.1" targetFramework="net481" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.2" targetFramework="net481" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net481" />
  <package id="Microsoft.Web.WebView2" version="1.0.1370.28" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net481" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net48" />
  <package id="SharpCompress" version="0.32.2" targetFramework="net481" />
  <package id="SQLite" version="3.13.0" targetFramework="net481" />
  <package id="SQLitePCLRaw.provider.e_sqlite3" version="2.1.2" targetFramework="net481" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.116.0" targetFramework="net481" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net481" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net481" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net481" />
  <package id="System.Data.SQLite" version="1.0.116.0" targetFramework="net481" />
  <package id="System.Data.SQLite.Core" version="1.0.116.0" targetFramework="net481" />
  <package id="System.Data.SQLite.EF6" version="1.0.116.0" targetFramework="net481" />
  <package id="System.Data.SQLite.Linq" version="1.0.116.0" targetFramework="net481" />
  <package id="System.Interactive.Async" version="6.0.1" targetFramework="net481" />
  <package id="System.Linq.Async" version="6.0.1" targetFramework="net481" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net481" />
</packages>